* {

    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav-top-level>ul {
    height: 103px;
}

.nav-bottom-level>ul {
    height: 50px;
    background-color: #4a4a4a;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 330px;
}

li.top {
    font-weight: 400;
    margin-right: 30px;
    font-size: 14px;
}

.nav-top-level>ul>li {
    color: rgb(74, 74, 74);



}

.nav-bottom-level>ul>li {
    color: #FFFFFF;
}

.nav-bottom-level>ul>li>a:hover {
    color: #a0a0a0;
}


a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 150px;
}

.nav-top-level {
    height: 103px;
}

.sign-in-link::before {
    font: var(--fa-font-solid);
    content: "\f007";


    padding: 4px;
}

.shop-link::before {
    font: var(--fa-font-solid);
    content: "\f290";

    padding: 4px;
}

.shop-link {
    font-weight: bold;
}

.sign-in-link:hover {

    color: #9a9a9a;
}

.shop-link:hover {
    color: #9a9a9a;
}

.submenu {
    display: none;
    grid-template-columns: 50% 50%;
    grid-gap: 5px;
    position: absolute;
    z-index: 1;
    padding: 20px;
    width: 200px;

    background-color: #fFfFfF;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}



.submenu>li {
    background-color: #f9f9f9;
    color: #000000;




}

.submenu>li>a {
    display: flex;
    align-items: center;
    min-height: 40px;
    padding: 5px 10px;
    background-color: #F9F9F9;
    border-radius: 3px;
    color: #000;
}


.hover:hover+.submenu {
    display: grid;
}

.submenu:hover {
    display: grid;
}

.donate-link {
    color: white;

    font-weight: bold;
    display: inline-block;
}

.donate-link::before {
    font: var(--fa-font-solid);
    content: "\f004";
    padding: 4px;
    padding-left: 10px;
}

.donate-text {
    width: 100%;
    height: 100%;
}

.donate-card {
    background-color: #d62021;
    height: 32px;
    justify-content: center;

    align-items: center;
    display: flex;
    padding-right: 11px;
    border-radius: 2px;
}

.sign-in-card {
    margin-left: auto;
}

.news-hover::before {
    font: var(--fa-font-solid);
    content: "\f1ea";

    padding: 4px;
}

.culture-hover::before {
    font: var(--fa-font-solid);
    content: "\f554";

    padding: 4px;
}

.music-hover::before {
    font: var(--fa-font-solid);
    content: "\f001";

    padding: 4px;
}

.player-button>div::after {
    font: var(--fa-font-solid);
    content: "\f144";
    font-size: 40px;
    color: #ffffff;
    width: 40px;
    height: 40px;
    background-size: 18px;
    grid-column: 1 / 2;
    align-self: center;
    padding: 4px;
    display: block;
    grid-row: 1 / 3;

}

.stream-tag {
    grid-column: 2 / 2;
    grid-row: 1 / 2;

    font-size: 12px;
    font-weight: 700;

    align-self: end;
    text-align: left;
}

.stream-text {
    grid-column: 2 / 2;
    grid-row: 2 / 3;


    font-size: 12px;

    text-align: left;
}

.podcast-hover::before {
    font: var(--fa-font-solid);
    content: "\f025";

    padding: 4px;
}

.player-txt {
    color: #fFfFfF;


}

.search-hover::before {
    font: var(--fa-font-solid);
    content: "\f002";

    padding: 4px;
}


/* Step 1: Common Properties
  These styles are required to make icons render reliably */
.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

section {
    position: fixed;
    right: 0;
    width: 300px;
    z-index: 2;
    background: #394F78;

    margin-left: 18px;
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 5px 5px 0 0;
}

.inside-player {
    width: 100%;
    height: 88px;
}

.inside-button {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 50% 50%;
    grid-column-gap: 11px;
    grid-row-gap: 2px;

    padding-top: 10px;
    padding-bottom: 20px;
}

.player-nav {
    height: 50px;
    padding: 0 10px;
}


.player-nav>li>button {
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
    display: flex;
    align-items: center;

}

.player-nav>li>button::before {
    font: var(--fa-font-solid);
    content: "\f04b";

    margin-right: 4px;
    font-size: 5px;
}

.player-nav>li:nth-child(2) {
    margin-right: 15px;
}

.player-nav>li:first-child {
    margin-right: 15px;
}

.player-button {
    padding: 0 33px 0 22px;
    background-color: transparent;
    border: none;
}

button {
    padding: 0;
    background-color: transparent;
    border: none;
}